<div class="botones card">
  <button
    pButton
    type="button"
    (click)="showResponsiveDialog()"
    icon="pi pi-external-link"
    label="Modal 2"
    class="p-button-success"
  ></button>

  <button
    pButton
    type="button"
    (click)="cargarDatos()"
    label="Cargar"
    class="p-button-info"
  ></button>
</div>

<p-dialog
  [(visible)]="display"
  [draggable]="false"
  header="Prueba dialogo"
  [transitionOptions]="'200ms'"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '90vw' }"
>
  <app-tabla2></app-tabla2>
</p-dialog>

<div class="card">
  <h3>
    <strong>Nombre: </strong><input type="text" pInputText [(ngModel)]="name" />
  </h3>
  <h3>
    <strong>País: </strong><input type="text" pInputText [(ngModel)]="country" />
  </h3>
  <h3>
    <strong>Agente: </strong><input type="text" pInputText [(ngModel)]="agent" />
  </h3>
  <h3>
    <strong>Balance: </strong><input type="text" pInputText [(ngModel)]="balance" />
  </h3>
</div>
