.card {
    margin-top: 20px;
  }
  
  .botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

.camposBusqueda {
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
}

.camposBusqueda > span {
  margin-right: 0.8rem;
}